<!DOCTYPE html>
<html lang="en">
<body>
<!--/*@thymesVar id="device" type="net.accelf.wakefromassistant.controllers.DevicesController.Device"*/-->
<section th:fragment="form(device)" th:object="${device}">
    <p class="field">
        <label class="label" for="deviceName">Device name:</label>
        <input class="input" type="text" id="deviceName" th:field="*{deviceName}"/>
    </p>
    <p class="field">
        <label class="label" for="macAddress">Mac address:</label>
        <input class="input" type="text" id="macAddress" th:field="*{macAddress}"/>
    </p>
    <p class="field">
        <label class="label" for="ipAddress">IP address:</label>
        <input class="input" type="text" id="ipAddress" th:field="*{ipAddress}"/>
    </p>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</section>
</body>
</html>
